[build]
  publish = "."

[[headers]]
  for = "/*.wasm"
  [headers.values]
    "Content-Type" = "application/wasm"
    "Cache-Control" = "public, max-age=31536000"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "functions"